@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 6px;
  /* background-color: #a2a2a2; */
  height: 5px;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #a7a7a7;
  height: 5px;
  border-radius: 10px;
}

.style_mobile_navBar {
  background-color: hsla(0,0%,100%,.8);
}

.scroll-y-hidden {
  scrollbar-width: none; /* Firefox */
}
.scroll-y-hidden::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}

.hidden-seccond-line:nth-child(n+6) {
  display: none;
}

/* hiệu ứng cuộn trangtrang */
.scroll-container {
  max-height: 0;  /* Ban đầu ẩn, chiều cao bằng 0 */
  overflow: hidden;  /* Ẩn phần nội dung thừa */
  transition: all 1s ease-in-out;  /* Hiệu ứng dãn rộng chiều cao */

}

.scroll-container.open {
  max-height: 200px;  /* Khi mở, chiều cao sẽ dãn rộng. Bạn có thể điều chỉnh max-height này tuỳ ý */
}

/* end */

/* hiệu ứng xoay 180 độ */
.rotate {
  transition: transform 0.5s ease; /* Hiệu ứng xoay mượt mà */
  transform: rotate(0deg); /* Ban đầu không xoay */
}
.rotate.open {
  transform: rotate(180deg); /* Xoay 180 độ */
}

/* end */

/* set fixed height */
.fixedHeight {
  height: calc(-56px + 100vh);
}
.minHeight {
  min-height: calc(-56px + 100vh);
}
.fixedHeightAdmin {
  height: 100vh;
}
.minHeightAdmin {
  min-height: 100vh;
}
/* end */